# Common Secrets
JWT_SECRET= your_jwt_secret_key
SSL_KEYSTORE_PASSWORD= your_keystore_password
# testing
# testing 2
# testing 3
# Kafka Config
KAFKA_CLUSTER_ID=url-shortener-cluster

# MongoDB Database URIs (For Docker containers)
USER_DB_URI=mongodb://your_mongo_host:27017/user_db
PRODUCT_DB_URI=mongodb://your_mongo_host:27017/product_db

# Service Hosts (For Docker containers)
REDIS_HOST=your_redis_host
KAFKA_HOST=your_kafka_host:9092
MEDIA_SERVICE_URL=http://your_media_service_host:8083
USER_SERVICE_URL=http://your_user_service_host:8081
PRODUCT_SERVICE_URL=http://your_product_service_host:8082